<?xml version="1.0" encoding="utf-8"?>
<!--
  The Swissworx IP API lookup provider is an alternative to the built-in Sitecore lookup provider.
  For testing purposes the configuration below contains the settings for the free service but that is capped at 150 lookups per minute!
  For production use it is recommended to get the Pro subscription for a small cost.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <lookupManager defaultProvider="default">
      <providers>
        <add>
          <patch:attribute name="type">Swissworx.Modules.Analytics.Lookups.IpApi.LookupProvider, Swissworx.Modules.Analytics.Lookups.IpApi</patch:attribute>
        </add>
      </providers>
    </lookupManager>
    <settings>
      <!-- The API key from the Ip API Pro subscription (https://signup.ip-api.com/). -->
      <setting name="Swissworx.Modules.IpApi.ApiKey" value="test" />
      <!-- The IP address used when the current visitor is using the local IP address (when debugging). -->
      <setting name="Swissworx.Modules.IpApi.LocalIpReplacement" value="198.154.118.185" />
      <!-- The service call timeout in seconds. -->
      <setting name="Swissworx.Modules.IpApi.ServiceTimeout" value="5" />
      <!-- The web service URL for the IP lookups (FREE trial). -->
      <setting name="Swissworx.Modules.IpApi.ServiceUrl" value="http://ip-api.com" />
      <!-- The web service URL for the IP lookups (PRO subscription). Comment out the FREE trial setting above when using this. 
      <setting name="Swissworx.Modules.IpApi.ServiceUrl" value="https://pro.ip-api.com" />-->
    </settings>
  </sitecore>
</configuration>